.book-btn {
    background-color: #8B0000;
    color: white;
    border-radius: 8px;
    border: 2px solid #8B0000;
    transition: all 0.3s ease;
}

    .book-btn:hover {
        background-color: white;
        color: #8B0000;
    }

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.price {
    font-size: 1rem;
    font-weight: 600;
}
