@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    

        .hero-content-home .btn-warning {
            background-color: #ffdd57;
            color: #004aad;
            border: none;
            transition: 0.3s;
        }

            .hero-content-home .btn-warning:hover {
                background-color: #ffcc00;
            }
</style>


    <div class="hero-content-home text-center py-5 mb-5">
    <h1 class="fw-bold text-primary">Your Gateway to Egypt’s Wonders</h1>
        <p>Handpicked tours, premium experiences, and unforgettable journeys await you.</p>
        <a href="/Trips" class="btn btn-warning px-4 py-2 fw-semibold">See Trips</a>
    </div>

